.timing {
    position: absolute;
    margin-top: -67px;
    left: 5px;
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    border-radius: 3px;
}
.timingHover {
    box-shadow: 0px 0px 6px #000;    
}

.block {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin-right: 20px;
}
.image_container {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 215px;
}

.image {
    width: 300px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.image_container:hover > .edit-icon {
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.edit-icon {
    opacity: 0;
    background-color: orange;
    border-radius: 30px;
    border: 1px solid grey;
    width: 60px;
    height: 60px;
    position: relative;
    top: 135px;
    left: 220px;
    box-shadow: 0px 0px 6px #000;
}
.glyphicon {
    font-size: 20pt;
    position: absolute;
    top: 15px;
    left: 15px;
}

.recipe-name {
    font-size: 16px;
    color: orange;
    text-shadow: black 0px 0px 5px;
}

.panel-footer {
    background-color: #555;
}
.recipe-user-name {
    color: white;
}
.panel {
    overflow: hidden;
    position: relative;
}
.panel:hover {
    box-shadow: black 0px 0px 4px;
    transition: all 0.2s ease-in-out;
}
.log {
    position: absolute;
    top: 210px;
    left: 5px;
    background-color: #222;
    color: white;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 4px;
    margin-bottom: 2px;
    border-radius: 3px;
}
.loader {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-left: -60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.log-active {
    box-shadow: 0 0 17px red;
    animation: pulsate 1s ease-out infinite;
}
@-webkit-keyframes pulsate {
    0%   { box-shadow: 0 0 0 red; }
    50%  { box-shadow: 0 0 17px orange; }
    100% { box-shadow: 0 0 0 red; }
}
